.container {
  background: var(--gray);
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.3rem;

  button {
    background: var(--green);
    color: var(--white);
    padding: 0.3rem 3rem;
    font-size: 0.9rem;
    border-radius: 0.3rem;
    transition: background .2s ease;

    &:hover {
      background: rgba(46, 160, 67, 0.8);
    }
  }
}

.div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  label {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
  }

  input[type='text'] {
    width: 20rem;
    background: var(--background);
    outline: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--white);
  }
}