.back-button {
  width: fit-content;
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0.1rem 1rem 0 1rem;
  border-radius: 0.5rem;
  background: transparent;
  transition: background .2s ease;

  &:hover {
    background:rgba(255, 255, 255, 0.1);
  }
}

.container {
  margin: 0 auto;
  height: 100%;
  max-width: 600px;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    border-radius: 50%;
  }
}

.info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  
  div + div {
    margin-left: 3rem;
  }
}

.followers, .following {
  display: flex;
  align-items: center;

  p {
    margin-left: 0.5rem;
  }
}

.bio {
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.3rem;
  padding: 0.5rem;
  text-align: center;
  margin-top: 5rem;
}

.repositories {
  width: 100%;
  margin-top: 5rem;

  ul {
    margin-top: 1.5rem;
    
    li {
      outline: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 0.3rem;

      & + li {
        margin-top: 1.5rem;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.7rem;
        transition: background .2s ease;

        &:hover {
          background: rgba(255, 255, 255, 0.1)
        }
      }
    }
  }
}