:root {
  --background: #0D1117;
  --gray: #1B1F24;
  --white: #fff;
  --green: #2EA043;
  --blue: #80DED9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
     font-size: 93.75%; // 15px
  }
  @media (max-width: 720px) {
     font-size: 87.5%; // 14px
  }
}

body {
  background: var(--background);
  color: var(--white);
}

body, input, button {
  font-family: 'Fira Code', monospace;
}

h1 {
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
}

h3 {
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

input[type='text'] {
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
}